#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* <!--   /events   --> */

.myEvents-table {
  border-collapse: collapse;
  width: 100%;
}

.myEvents-table td {
  padding: 20px;
  text-align: left;
  border: 2px solid black;
  border-radius: 10px; /* round corners */
}

.event-row {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.event-row:hover {
  background-color: #ddd;
}

.event-row a {
  color: black;
}

/* <!--   /events/event/:id   --> */

.EventDetails-table td {
  padding: 20px;
  text-align: left;
}

.unpaid {
  color: red;
}

.paid {
  color: green;
}
